.hero {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.heroTitle {
    width: auto;
    position: absolute;
    bottom: 0;
    right: 20px;
}

.hero .heroTitle h1 {
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: 1000;
    color: white;
    text-shadow: 2px 2px #000;
}

.hero .heroTitle p {
    font-size: 20px;
    font-weight: 500;
    color: white;
    font-size: 30px;
    text-shadow: 2px 2px #000;
}